@import "./font-public-sans";
@import "~tailwindcss/base";

@mixin button {
  @apply transition-all inline-flex items-center space-x-2 px-4 py-2 rounded-md;
  @apply text-white bg-purple-400 hover:text-white hover:bg-purple-500;
  @apply text-xl;

  &.naked {
    @apply bg-transparent hover:bg-transparent text-purple-400 hover:text-purple-500;
  }

  @screen md {
    @apply text-xl;
  }
}

body {
  min-height: 100vh;
}

#main {
  flex: 1;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  path {
    @apply transition-all;
    fill: theme('colors.gray.700');
  }

  &:hover {
    path {
      fill: theme('colors.purple.500');
    }
  }
}

p,
span,
li,
ol,
ul,
i,
blockquote,
h1, h2, h3, h4, h5 {
  &:not(pre, pre *) {
    @apply text-gray-700 tracking-tight;
    font-family: 'Public Sans', sans-serif;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slice {
  $slice-width: 15rem;
  max-width: 100vw;

  @screen lg {
    width: calc(100% + #{$slice-width});
    transform: translateX(-#{$slice-width/2});
  }
}

.divider {
  @apply border-0 bg-gray-300 w-full max-w-xl mx-auto;
  height: 1px;

  &.divider--wide {
    @apply max-w-5xl;
  }
}

#__next {
  @apply flex flex-col relative;
  min-height: 100vh;
  z-index: 1;
}

.stargazers {
  &:hover {
    svg {
      stroke: theme('colors.yellow.500');
    }
  }
}

.button {
  @include button;
}

span {
  @apply font-light;
}

:root {
  --gradient-angle: 0deg;
}

.gradient-text {
  padding-bottom: 1rem;
  transition: background .15s ease-in-out;
  background: linear-gradient(var(--gradient-angle), theme('colors.gray.500') 50%, theme('colors.gray.800') 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.post-content {
  p > div {
    display: block;
    overflow: auto;
  }

  /* Special hover effect */
  a {
    transition: all .12s ease-in-out;
    color: inherit;
    box-shadow: 0px -.55rem 0px 0px theme('colors.red.200') inset;
    padding-bottom: .1rem;

    &:hover {
      padding-bottom: .35rem;
      box-shadow: 0px -4px 0px 0px theme('colors.red.400') inset;
    }
  }

  // Do not make heading anchor links fancy.
  h2, h3, h4, h5, h5 {
    a {
      box-shadow: none;
      padding: 0;

      &:hover {
        padding: 0;
        box-shadow: none;
      }
    }
  }
}

.nav {
  input {
    &:checked {
      & ~ .nav-menu-wrapper .nav-menu-items {
        @apply opacity-100 visible;

        ul {
          @apply translate-x-0;
        }
      }

      & ~ .nav-menu-label .menu-bar {
        @apply bg-white;

        &-1 {
          transform: translate3d(0, 1rem, 0) rotate(-45deg);
        }

        &-2 {
          opacity: 0;
        }

        &-3 {
          transform: translate3d(0, -1rem, 0) rotate(45deg);
        }
      }
    }
  }
}

form {
  input, textarea {
    @apply border border-gray-300 rounded-sm w-full px-2 py-2 text-base;
  }
}

@import "./jam-comments.scss";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
